/** Add css rules here for your application. */

body {
  padding: 10px;
  text-align: center;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 40px 0px 70px;
	text-align: center;
}

/* Add plot panel */
.plotPanel {
  margin: auto;
}

