# Ignore class files and packages #
*.class
*.jar
!war/WEB-INF/lib/*.jar

# Ignore gwt unit caches
gwt-unitCache/

# deploy caches #
war/WEB-INF/appengine-generated
war/WEB-INF/deploy/
war/WEB-INF/classes/

# Generated html files and other cache files #
*.cache.html
*.gwt.rpc
*.cache.png
*.nocache.js
*.cache.gif
hosted.html
